.heroSection {
  font-family: 'Roboto', sans-serif;
  height: 90vh;
  background-color: #f8f7ff;
}

.heroSection > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 70%;
  margin-inline: auto;
}

.description {
  text-align: left;
  line-height: 1.1;
}

.description > h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.description > h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.heroImage {
  width: 30rem;
  height: 30rem;
  border-radius: 35% 75% 50% 12%;
}

.cta-btn {
  background-color: #f96c28;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-btn:hover {
  background-color: #e65a1d;
  border: inset 10px solid #e24c01;
}

.cta-btn:active {
  background-color: #cc4f19;
  border: inset 10px solid #e24c01;
}
